{% extends "layout.html" %}
{% block title %}
Crear Usuario
{% endblock %}
{% block content %}
    <!--Formulario-->
  <form action="" method="post">
    <div class="container mh-60" alt="Max-height: 60%">

      <div class="row col-md-12" style=" margin-top: 10px; margin-bottom: 10px; ">
        <div class="container col-md-5">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">*</span>
            </div>
            <input type="text" class="form-control" name="username" placeholder="NOMBRE DE USUARIO" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <div class="container col-md-5">
          <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" style=" color: #fff;	background-image: linear-gradient(to bottom, rgb(30,99,109), rgb(30,99,109));">
              Roles
            </button>
            <ul data-input="roles" id="uroles" class="dropdown-menu">
              <li><a data-id-role="3" href="#">Agente de Monitoreo</a></li>
              <li><a data-id-role="2" href="#">Agente Validador</a></li>
              <li><a data-id-role="1" href="#">Super Usuario</a></li>
            </ul>
              <input type="hidden" id="roles" name="roles">
          </div>
        </div>
      </div>
      <div class="row col-md-12" style="  margin-top: 10px; margin-bottom: 10px;  ">
        <div class="container col-md-5">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">*</span>
            </div>
            <input type="text" class="form-control" name="first_name" placeholder="NOMBRE (S)" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <div class="container col-md-5">
          <div class="input-group input-group-sm mb-3 " >
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">*</span>
            </div>
            <input type="text" class="form-control" name="last_name" placeholder="APELLIDO PATERNO" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>
      <div class="row col-md-12" style=" margin-top: 10px; margin-bottom: 10px;   ">
        <div class="container col-md-5">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">*</span>
            </div>
            <input type="text" class="form-control" name="s_last_name" placeholder="APELLIDO MATERNO" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <div class="container col-md-5">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">*</span>
            </div>
            <input type="text" class="form-control" name="email" placeholder="CORREO ELECTRONICO" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>
      <div class="row col-md-12" style=" margin-top: 10px; margin-bottom: 10px; ">
        <div class="container col-md-6">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">*</span>
            </div>
            <input type="text" class="form-control" name="password" placeholder="CONTRASEÑA" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>
      <div class="row col-md-12" style=" margin-top: 10px; margin-bottom: 10px;  ">
        <div class="container col-md-6">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">*</span>
            </div>
            <input type="text" class="form-control" placeholder="REPETIR CONTRASEÑA" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>
      <p class="text-right col-sm-11" style="font-family: Helvetica Neue; font-size: 1rem; color: #777;margin-top: 10px; margin-bottom: 10px;">* Campo obligatorio</p>
      <div class="row col-md-12" style="margin-top: 10px; margin-bottom: 20px;">
        <div class=" container col-md-4 text-left">
          <button type="submit" class="btn btn-secondary btn-md" style="  color: #fff;	background-image: linear-gradient(to bottom, rgb(30,99,109), rgb(30,99,109));">Crear</button>
        </div>
        <div class=" container col-md-4 text-right">
          <a class="btn btn-danger btn-md" href="/dashboard">Cancelar</a>
        </div>
      </div>

    </div>
    </form>
    <!--Termina codigo Formulario-->
{% endblock %}