{% extends "layout.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block maxSearchCols %}
let lastSearchableCol = 2;
let firstSearchableCol = 0;

{% set totalreceivers = namespace(value=0) %}

        var options = {
          series: [{%for event, data in total_assistants.items() %}
                        {% set totalreceivers.value = totalreceivers.value + data['total'] %}
                        {{(data['assistants'] * data['total'] / 100) * 100}},
                    {% endfor %}],
          chart: {
          height: 350,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            dataLabels: {
              name: {
                fontSize: '22px',
              },
              value: {
                fontSize: '16px',
              },
              total: {
                show: true,
                label: 'No. de Beneficiarios',
                formatter: function (w) {
                  // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                  return {{totalreceivers.value}}
                }
              }
            }
          }
        },
        legend: {
            show: true
        },
        labels: [{%for event, data in total_assistants.items() %}
                        '{{event}}'{{ ',' if total_assistants|length > loop.index }}
                    {% endfor %}],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };


{%for event in events %}
{% if event['id_event']|string in stats_spline %}
{% for stattype, statdata in stats_spline[event['id_event']|string].items() %}
{% set maxcount = namespace(value=0) %}
var options{{event['id_event']}}{{stattype}} = {
  series: [
{% for genderkey in ['M','H'] %}
{
  name: '{{genderkey | replace("M","Mujeres") |
                  replace("H","Hombres")}}',
  data: [{%for agedata, value in statdata.items() %}{% if maxcount.value < value[genderkey] %} {% set maxcount.value = value[genderkey] %} {% endif %}
          {{value[genderkey]}},{%endfor%}]
},
{% endfor %}
],
  chart: {
  height: 350,
  type: 'area'
},
dataLabels: {
  enabled: false
},
stroke: {
  curve: 'smooth'
},
title: {
          text: '{{stattype | replace("unattendance","Inasistencias") |
                  replace("attendance","Asistencias")}}',
          align: 'left'
},
xaxis: {
  type: 'integer',
  title: {
            text:'Edades'
  },
  categories: [{% for agekey in statdata %}
{{agekey}},{%endfor%}]
},
yaxis:{
  title: {
            text:'No. de Beneficiarios'
  },
  tickAmount: {{maxcount.value}},
  labels: {
    formatter: function(val) {
        return val.toFixed(0);
      }
  },
  min: 0,
  max:{{maxcount.value}}
},
responsive: [{
  breakpoint: 480,
  options: {
    legend: {
        show: false
    }
  }
}]
};
{% endfor %}
{% endif %}
{% endfor %}
{% endblock %}
{% block content %}
    <!--Formulario-->
    <div class="container mh-60" alt="Max-height: 60%">
      <section>
        <div class="table-responsive-sm" style=" margin-top: 30px; margin-bottom: 30px; ">
            <div><h2>Asistencias por evento</h2>
                <div  class="row" style="margin: auto;width: 40%;">
                                    <div class="column" style="min-width: 600px;">

                    <div id="chart" style="max-width: 600px; min-height: 437.7px;"></div>
                                    </div>
                </div>
            </div>
          <div>
{%for event in events %}
            {{event['name']}}
            <div  class="row" style="margin: auto;width: 80%;">
    {% if event['id_event']|string in stats_spline %}
    {% for stattype, statdata in stats_spline[event['id_event']|string].items() %}
                <div class="column" style="min-width: 400px;">

                <div id="chart{{event['id_event']}}{{stattype}}" style="max-width: 400px; min-height: 437.7px;"></div>
                  </div>
            {% endfor %}
      {% endif %}
              </div>
{% endfor %}
          </div>
        </div>
      </section>
</div>
<script type="text/javascript">
var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
{%for event in events %}
{% if event['id_event']|string in stats_spline %}
{% for stattype, statdata in stats_spline[event['id_event']|string].items() %}
    var chart = new ApexCharts(document.querySelector("#chart{{event['id_event']}}{{stattype}}"),
            options{{event['id_event']}}{{stattype}});
        chart.render();
{% endfor %}
{% endif %}
{% endfor %}
        </script>

    <!--Termina codigo Formulario-->
     {% endblock %}