{% extends "layout.html" %}
{% block title %}
Data Admin
{% endblock %}
{% block content %}
    <div class="container mh-60" alt="Max-height: 60%" style="margin-top: -40px; margin-top: -40px;">

      <div class="row">
        <div class="container col-md-7">
      <div class="row col-md-12" style="margin-top: 30px;">
<div class="row col-md-12">
        <h3 style="font-family: Helvetica Neue; font-size: 2rem;margin-bottom:30px;">Importar Documentos</h3>
      </div>
        <form action="importar" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Importar</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input importar_archivo" id="customFile" name="fileimported" aria-describedby="inputGroupFileAddon01" lang="es">
                <label class="custom-file-label importar_etiqueta" for="customFile" data-browse="Examinar">Seleccionar Archivo</label>
              </div>
              <script>
                // Add the following code if you want the name of the file appear on select
                $(".importar_archivo").on("change", function() {
                  var fileName = $(this).val().split("\\").pop();
                  $(this).siblings(".importar_etiqueta").addClass("selected").html(fileName);
                });

              </script>
              </div>
          </div>
          <br>
               <div class="dropdown">
                 <!-- COMIENZA MODIFICACION HECHA POR FERNANDO/MAURO-->
                    <label for="selection_file">Tipo de Archivo</label>
                  <select name="tipo" class="form-control" id="selection_file">
                        <option value="">Tipo de Archivo a importar</option>
                        {% for n in una_lista %}
                        <option>{{n}}</option>
                        {% endfor %}
                    <!-- TERMINA MODIFICACIÓN-->
                  </select>
               </div>
          <br>
              <div class="dropdown2">
                <label for="selection_file">Evento a Asignar</label>
                  <div class="dropdown">
                          <input type="hidden" id="ue_name" name="e_name">
                      <button type="button" class="btn btn-secondary dropdown-toggle btn-block btn-sm" data-toggle="dropdown" id="dropdownMenuButton"aria-haspopup="true" aria-expanded="false"style=" margin-bottom:10px; color: #fff;	background-color: rgb(60,180,173);">
                        Eventos
                      </button>
                      <ul data-input="e_name" id="ue_name"  class="dropdown-menu">
                          {% for row in e_list %}
                            <li><a data-id-event="{{row['id_event']}}" class="dropdown-item"href="#">{{row['name']}}</a></li>
                          {% endfor %}
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item"href="#" data-toggle="modal" data-target="#modal1">Agregar Evento</a></li>
                      </ul>
                    </div>
              </div>
          <br>

          <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right btn-sm" onclick="submit">Importar</button>
            <button type="reset" class="btn btn-danger btn-sm">Cancelar</button>
          </div>
        </form>
                </div>

      <div class="row col-md-12" style="margin-top: 30px;">
        <h3 style="font-family: Helvetica Neue; font-size: 2rem;">Exportar Documentos</h3>
      </div>
      <div class="row col-md-12">
        <div class="container col-md-3" style="margin-top: 30px; margin-bottom: 30px; ">
        </div>
        <div class="container col-md-9"> </div>
      </div>
      <div class="row col-md-12">
        <form method="POST" action="#" enctype="multipart/form-data">
          <div class="form-group">
            <!--COMIENZA MODIFICACIÓN HECHA POR FERNANDO-->
            <a href="exportar?fecha=-{{ fecha }}" class="btn btn-primary pull-right btn-sm"><i class="fa fa-download"></i>Descargar Archivo de Exportación</a>
            <!--TERMINA MODIFICACIÓN-->

          </div>
        </form>
      </div>
      <div class="row col-md-12" style="margin-top: 30px; margin-bottom: 30px;">
        <h3 style="font-family: Helvetica Neue; font-size: 2rem;">Respaldar Datos</h3>
      </div>
      <div class="row col-md-12">
        <form method="POST" action="#" enctype="multipart/form-data">
          <!--COMIENZA MODIFICACIÓN HECHA POR FERNANDO-->

          <div class="form-group">
            <a href="respaldo" class="btn btn-primary pull-right btn-sm"><i class="fa fa-download"></i>Descargar Archivo</a>
          </div>
        </form>
      </div>
        <!--TERMINA MODIFICACIÓN-->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1-label">
    <form action="crearEvento" method="post">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header" style="background-color:rgb(60,180,173);color: #fff;font-family: 'Segoe UI Emoji';">
                          <h5 class="modal-title">Nuevo Evento</h5>
                          <button class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body">

                          <form>
                            <div class="form">
                              <label for="Nuevo Evento">Evento</label>
                              <input type="text" name="name" placeholder="Nombre del Evento" class="form-control">
                            </div>
                          </form>
                          <div class="modal-footer">
                            <button class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-secondary btn-sm" style="color: #fff;  background-color: rgb(60,180,173);">Confirmar</button>
                          </div>
                        </div>
                      </div>
                    </div>
        </form>
                  </div>
    </div>
        <div class="col-md-5" style="display:flex; align-items: center; justify-content: center;">
     <img class="img-responsive" src="img/giphy.gif">
   </div>
          </div>
    </div>

{% endblock %}
